<%= simple_form_for article do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.input :title %>
  <%= f.input :body %>

  <h3>Questions</h3>
  <div id='questions'>
    <%= f.simple_fields_for :questions do |question| %>
      <%= render 'question_fields', f: question %>
    <% end %>

    <div class='links'>
      <%= link_to_add_association 'Add new question', f, :questions, class: 'btn btn-sm btn-primary' %>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-sm btn-success' %>
<% end %>
