<div class='nested-fields'>
  <div class='row'>
    <div class='col-md-5'>
      <%= f.input :question %>
    </div>

    <div class='col-md-5'>
      <%= f.input :answer %>
    </div>

    <div class='col-md-2 remove-question'>
      <%= link_to_remove_association 'X', f, class: 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>
