<h1>Articles</h1>

<% if @articles.any? %>
  <table class='table'>
    <thead>
      <tr>
        <th class='col'>Title</th>
        <th class='col' colspan='3'></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr scope='row'>
          <td><%= article.translated_title %></td>
          <td><%= link_to 'View', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure you want to delete this article?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class='alert alert-primary' role='alert'>
    No articles yet, <%= link_to 'Create one!', new_article_path, class: 'alert-link' %>
  </div>
<% end %>
