<h1>
  <%= @article.translated_title %>
</h1>

<% if @article.translated_body %>
  <p>
    <%= @article.translated_body %>
  </p>
<% end %>

<h3>Questions</h3>
<% @article.questions.each do |question| %>
  <p>
    <strong><%= question.translated_question %></strong><br />
    <%= question.translated_answer %>
  </p>
<% end %>
