<!DOCTYPE html>
<html>
  <head>
    <title>KnowledgeBaseApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role='main'>
      <div class='container'>
        <nav class='navbar navbar-expand-lg navbar-light bg-light'>
          <a class='navbar-brand' href='/'>Home</a>
          <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav'
                  aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon'></span>
          </button>
          <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav'>
              <li class='nav-item'>
                <%= link_to 'New Article', new_article_path, class: 'nav-link' %>
              </li>
            </ul>
          </div>
        </nav>

        <%= yield %>
      </div>
    </main>
  </body>
</html>
